
@import url('https://fonts.googleapis.com/css?family=Roboto:100,900&display=swap');




html,
body {
  background-color: white;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  border: 4px solid rgb(0,168,188);
  box-sizing: border-box;
  background-image: linear-gradient(45deg, white 0%, #9cecf5 100%);
}

.center {
  height:25%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align:center;
  font: 0/0 a;
  &:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
  }
}

img {
  vertical-align: middle;
  display: inline-block;
  max-height: 100%;
  max-width: 60%;
}

.img-top
{
  vertical-align: top;
  display: inline-block;
  max-height: 100%;
  max-width: 60%;
  margin-top: 20px;
}

.green {
  color: rgb(57,233,145);
}

.dark {
  color: rgb(2,21,71);
}

.light {
  color: rgb(0,168,188);
}

.footer a {
  text-decoration: none;
}

.footer {
    position: absolute;
    bottom: 1rem;
    width: 100%;
    text-align: center;
    font-family: monospace;
    font-size: medium;
    letter-spacing: 6px;
}

@media only screen and (max-width : 900px) {

.footer {
  font-size: small;
  letter-spacing: 3px;
}

}

.countdown {
  margin-top: 25%;
  text-align: center;
}
@media only screen and (max-width : 900px) {
  margin-top: 20%;
}

.countdown__message {
  color: #021547;
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  font-weight: 100;
  padding-top: 1em;
  text-align: center;
}

.countdown__digit {
  background: #FFFFFF;
  border-radius: 0.25em;
  color: #021547;
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-size: 100px;
  font-weight: 900;
  margin: 0 0.05em;
  padding: 0.2em 0;
  position: relative;
  text-align: center;
  width: 1.2em;

}

.countdown__list {
  margin: 0;
  padding: 0;
}

.countdown__list-item {
  list-style: none;
  margin: 0;
  padding: 0;
}

.content {
  text-align: center;
}

.btn {
      font-family: 'Roboto', sans-serif;
  display: inline-block;
  padding: 1.4em 1.6em;
  margin-bottom: 2em;
  border-radius: 50em;
  background-color: #343b3b;
  color: #ffffff;
  font-weight: bold;
  font-size: 0.8rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
}
.btn:hover {
  background-color: #404949;
}

.close {
  padding: 1em;
margin-top: 1em;
}
